@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Event Tracer Website. Click on the Events in the navigation bar for Event Registration and CRUD opertiions on the registered Events.</p>
</div>
